population/SUITABILITY_GARDENING/*
Scratch_Geodatabase.gdb
*.idea
.idea/*
log
*.pyc
inputs/
temp/
outputs/
_scratch/info/arc.dir
*.dir
*.s
*.prj
scratch.py
*.lyr
*.xml
_log/
*.dat
*.nit

pond.py.rej
*.shp
*.tif
*.tfw
*.ovr
*.dbf
*.shx
*.sbx
*.cpg
*.sbn
*.asc
_inputs_full_extent/
tests/
settings_scenario.py
