ponds/outputs/*
ponds/inputs/*
ponds/temp/*
ponds/log
ponds/info
fire/outputs/*
fire/inputs/*
population/SUITABILITY_GARDENING/*
Scratch_Geodatabase.gdb
*.idea
.idea/*
log
*.pyc
inputs/pond/UPLAND_DEM_BURNED_STREAMS_5m_FILL.tfw
inputs/pond/UPLAND_DEM_BURNED_STREAMS_5m_FILL.tif
inputs/pond/UPLAND_DEM_BURNED_STREAMS_5m_FILL.tif.aux.xml
inputs/pond/UPLAND_DEM_BURNED_STREAMS_5m_FILL.tif.xml
inputs/pond/flow_direction.tfw
inputs/pond/flow_direction.tif
inputs/pond/flow_direction.tif.aux.xml
inputs/pond/flow_direction.tif.vat.dbf
inputs/pond/flow_direction.tif.xml
inputs/pond/landcover.tfw
inputs/pond/landcover.tif
inputs/pond/landcover.tif.aux.xml
inputs/pond/landcover.tif.vat.cpg
inputs/pond/landcover.tif.vat.dbf
inputs/pond/landcover.tif.xml
inputs/pond/suitability_points.dbf
inputs/pond/suitability_points.prj
inputs/pond/suitability_points.sbn
inputs/pond/suitability_points.sbx
inputs/pond/suitability_points.shp
inputs/pond/suitability_points.shp.xml
inputs/pond/suitability_points.shx
inputs/pond/suitability_points_initial_0.dbf
inputs/pond/suitability_points_initial_0.prj
inputs/pond/suitability_points_initial_0.sbn
inputs/pond/suitability_points_initial_0.sbx
inputs/pond/suitability_points_initial_0.shp
inputs/pond/suitability_points_initial_0.shp.xml
inputs/pond/suitability_points_initial_0.shx
inputs/pond/suitability_surface.tfw
inputs/pond/suitability_surface.tif
inputs/pond/suitability_surface.tif.aux.xml
inputs/pond/suitability_surface.tif.vat.dbf
inputs/pond/suitability_surface.tif.xml
pond.py.rej
inputs/
temp/
